<h1>Here are the jersey numbers and the number of players currently wearing it in the <%= @league.name %>:</h1>

<%= erb :'leagues/_sort_number_table', :locals => { :all_number_totals => @all_number_totals, :league => @league } %>
