<h1>Here are the most popular jersey numbers in the <%= @league.name %>:</h1>

<%= erb :'leagues/_sort_popularity_table', :locals => { :all_number_totals => @all_number_totals, :league => @league } %>
